[Unit]
# senti-gateway.service
Description=Senti Tag Manager
Documentation=https://github.com/senti-iot/senti-tag-manager/blob/master/README.md
# After=network.target

[Service]
WorkingDirectory=/srv/nodejs/senti/services/tagmanager/production
ExecStart=/usr/local/bin/node server.js
Environment=NODE_PORT=3033
Environment=NODE_ENV=production
Type=simple
Restart=always
# RestartSec=1
StartLimitInterval=0
User=root
Group=root
# KillSignal=SIGQUIT

[Install]
WantedBy=basic.target
